
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">用户列表  用户总数：{{length}}</h3>
    </div>
    <div class="panel-body"  ng-controller="usersControl">
        <div class="list-group"  selector="div">
            <div class="list-group-item">
                <div>#index</div>
                <div>faceImg</div>
                <div>uid</div>
                <div>likename</div>
                <div>登录次数</div>
                <div>最后登录</div>
            </div>
            <div ng-repeat="user in users" class="list-group-item">
                <div><%$index+1%></div>
                <div><% user.faceImg|vNull  %></div>
                <div><% user.uid%></div>
                <div><% user.likename%></div>
                <div><% user.logTimes%></div>
                <div><% user.lastTime%></div>
            </div>
        </div>
    </div>
</div>

<script>
    var users = JSON.parse('{{{json users}}}');
</script>
