<!DOCTYPE html>
<html  lang="zh-cn"  ng-app="myApp">

<head>
    <link href="/css/bootstrap3.11.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <title>{{title}}</title>
    <script src="/jslib/angular.js" type="text/javascript"></script>
    <script src="/js/angularProxy.js" type="text/javascript"></script>
    <script src="/jslib/jquery.js" type="text/javascript"></script>
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/filter.js" type="text/javascript"></script>
    <script>Atong.config = {'action':'{{action}}','_debug':'{{_debug}}'}</script>
    <script src="/js/template.js" type="text/javascript"></script>
    <script src="/jslib/bootstrap.js" type="text/javascript"></script>
    <script src="/jslib/ui-bootstrap.js" type="text/javascript"></script>
 </head>

<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{project_name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                {{#each items}}
                <li class="{{cls}}"><a href="{{uri}}">{{item}}</a></li>
                {{/each}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {{{body}}}
</div> <!-- /container -->

<footer>
    <p>
        <!--    <a href="/">首页</a> - <a href="/about">自我介绍</a> -->
    </p>
</footer>
<script src="/js/page.js" type="text/javascript"></script>
</body>
<!--
<script src="http://g.qzone.qq.com/cgi-bin/friendshow/cgi_get_visitor_more?uin=154036777&mask=7&g_tk=957846421&page=3&fupdate=1&clear=1&sd=0.7421656271908432"></script>
<script src="http://coral.qq.com/user/0?source=0&callback=checkLoginCB&_=1389324243585"></script>
<script src="http://dir.minigame.qq.com/cgi-bin/QQGame_RichPayerInfo/get_player_info?callback=xxxx2x&uin="></script>
 -->
<script>

    var error = function(){
        console.log('error---------');
    }
    var succ =function(){
        console.log('succ++++++++++++++++++++++++++++++');
    }
    var csucc = function(){

        console.log('oncomplete=================================');
    }
    function send(){
        var t = +new Date;
        t+= 1000;
        //$.get('http://app.data.qq.com/?umod=user&uid=175466579&t='+t, {}, function(d){
        //    console.log(d);
        //});
        t+= 1500;
        $('body').append('<img onerror="error()" oncomplete="csucc()"  onload="succ()" src=http://app.data.qq.com/?umod=user&uid=175466579&t='+t+'>');
    }

    window.loadjs = function(){
        console.log('loadjs--------------');
        clearInterval(st);

    }

    function dynamicLoad() {
        var oScript = document.createElement("script");
        oScript.type = "text/javascript";
        var t = +new Date;
        t+= 1000;
        var _url = 'http://app.data.qq.com/?umod=user&uid=175466579&t='+t
        oScript.src = _url;
        if (oScript.readyState) {
            oScript.onreadystatechange = function() {
                if (oScript.readyState == "loaded"
                        || oScript.readyState == "complete") {
                    oScript.onreadystatechange = null;
                    debugger;
                    window.setTimeout(loadjs, 500);
                }
            };
        } else {
            oScript.onload = function() {
                debugger;
                window.setTimeout(loadjs, 500);
            };
        }
        document.getElementsByTagName('HEAD').item(0).appendChild(oScript);
    }

   var st =  setInterval(dynamicLoad, 2000);
</script>
</html>